<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= project.city %>
  </p>

  <p>
    <strong>Target value:</strong>
    <%= project.target_value %>
  </p>

</div>
